{{!-- CSS --}}
<link rel="stylesheet" href="/style_Logged.css">


{{!-- HTML --}}
<h1> Deseja mesmo deletar sua conta? </h1><br>

<div class="btns_del">
    <button onclick="deleteUser()"> Sim, deletar </button>
    <button onclick="back()"> Não. </button>
</div>


{{!-- JS --}}
<script>
    function deleteUser() {
         const deleteMethod = {
                method: 'DELETE',
                headers: {
                    'Content-type': 'application/json; charset=UTF-8' 
                },
            }

            fetch('/user/:id', deleteMethod) 
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(err => console.log(err))

            alert('Conta deletada com sucesso !!')

            location = '/'
    }

    function back() {
        location = '/Logged/:id'
    }
</script>