  <link rel="stylesheet" href="/style_Logged.css">

{{#data}}  

<h1> Deseja mesmo deletar sua conta? </h1><br>

<div class="btns_del">
    <a href="/del_acount/{{user_id}}"> 
        <button>
            Sim, deletar
        </button>
    </a>

    <a href="/Logged/:id"> 
        <button>
            Não.
        </button>
    <a href="/del_acount/{{user_id}}"> 
</div>

{{/data}}

