{{#data}}

<a href="/"> 
    <button id="exit">
        Sair
    </button> 
</a>

<h1> Bem-Vindo(a) 
    <b><i>{{u_name}} !!</i></b> 
</h1>

<a href="/delete/:id"> 
    <button id="del_user"> Deletar sua conta </button>
</a>

{{/data}}