<link rel="stylesheet" href="/style_Logged.css">
    
<section class="section">
    <h1> Cadastro Realizado com sucesso !! </h1> <br>

    <a href="/"> 
        <button> Login </button>
    </a>
</section>