body {
    background: #645a02;
    color: #000000fa;
}

h1 {
    text-align: center;
    margin-top: 100px;
}


button {
    box-shadow: inset 0 0 0 3px rgba(54, 45, 13, 0.3),
        0 0 0 3px rgb(0, 0, 0);
    background-color: rgb(44, 51, 51);
    color: cornsilk;
    padding: 15px;
    text-decoration: none;
}

#exit {
    box-shadow: inset 0 0 0 3px rgba(54, 45, 13, 0.3),
        0 0 0 3px rgb(0, 0, 0);
    position: absolute;
    background-color: rgb(44, 51, 51);
    color: cornsilk;
    top: 10px;
    left: 10px;
    padding: 15px;
    text-decoration: none;
}

#del_user {
    box-shadow: inset 0 0 0 3px rgba(54, 45, 13, 0.3),
        0 0 0 3px rgb(0, 0, 0);
    background-color: rgb(44, 51, 51);
    color: cornsilk;
    margin: 200px 600px;
    padding: 15px;
    text-decoration: none;
}

.section {
    text-align: center;
    margin: 200px;
}

.btns_del {
    position: relative;
    left: 580px;
}
